 <link rel="stylesheet" href="/css/styleOLD.css" />
<div class="admin_header">
    <ul>
        <li><a href="/admin/facts">Факты</a></li>
        <li><a href="/admin/countries">Страны</a></li>
        <li><a href="/admin/regions">Регионы</a></li>
        <li><a href="/admin/relations">Связи</a></li>
        <li><a href="/admin/add_fact">Добавить факт</a></li>
        <li><a href="/admin/add_country">Добавить страну</a></li>
        <li><a href="/admin/add_region">Добавить регион</a></li>
        <li><a href="/admin/add_relation">Создать связь</a></li>
        <li><a href="/admin/check_relation">Проверка связи</a></li>
        <li><a href="/admin/logout">Выйти</a></li>
    </ul>
</div>