{{> header}}
{{> admin}}
    {{#if rows}}
        <div class="fact">
            <h3>Заголовок: {{rows.title_main}}</h3>
            <div class="text">Текст: {{rows.text_main}}</div>
            <a href="/admin/fact/redact/{{rows.id}}">редактировать</a>
        </div>
    {{else}}
        <h1>Контент пуст</h1>
    {{/if}}
    <script>
       replaceTag();
    </script>
{{> footer}}