{{> header}}
<div class="content__wrap">
    <!-- Линия прогресса -->
    <div class="progress-line__wrap">
        <span class="progress-line__count">{{current}} / {{size}}</span>
        <span class="progress-line">
            <span class="progress-line__element" style="width: {{progress}}%;">&nbsp;</span>
        </span>
    </div>
    <!-- //Линия прогресса -->
    <div class="block__image">
        <img alt="flag" src="/images/flags/{{imgSrc}}.svg" />
    </div>
    <div class="content__wrap" id="start" style="width: 240px;">
        <input id="guess" class="my" placeholder="Страна?" autofocus/>
        <a href="javascript:answer_cf_hard()" class="check">Проверить (enter)</a>
    </div>
     <a href="/gameover" class="end_btn">Сдаться</a>
</div>
{{> footer}}


