{{> header}}
    <div class="content__wrap" style="width: 70%">
        <div class="news-blocks__wrap" id="facts"></div>
        <input id="next-list" type="button" value="Ещё" class="save-settings__btn">
    </div>
{{> footer}}