{{> header}}
<div class="block-menu__wrap">
    <ul class="block-menu">
        <li class="block-menu__element element__play">
            <a href="/game/flag_country_hard">Угадать флаг по  <br /> стране</a>
        </li>

        <li class="block-menu__element element__education">
            <a href="/game/country_flag_hard">Угадать страну по <br /> флагу</a>
        </li>

        <li class="block-menu__element element__settings">
            <a href="/game/capital_country_hard">Угадать столицу по <br /> стране</a>
        </li>

        <li class="block-menu__element element__liaders">
            <a href="/game/country_capital_hard">Угадать страну по <br /> столице</a>
        </li>
    </ul>
</div>
{{> footer}}