{{> header}}
<div class="main_menu">
    <div class="flex">
        <div class="game"><a href="/game/flag_country_hard">Угадать флаг по стране</a></div>
        <div class="education"><a href="/game/country_flag_hard">Угадать страну по флагу</a></div>
    </div>
    <div class="flex">
        <div class="settings"><a href="/game/capital_country_hard">Угадать столицу по стране</a></div>
        <div class="liaders"><a href="/game/country_capital_hard">Угадать страну по столице</a></div>
    </div>
</div>
{{> footer}}