{{> header}}
<div class="main_menu">
    <div class="flex">
        <div class="game"><a href="/game">ИГРАТЬ</a></div>
        <div class="education"><a href="/education">ОБУЧЕНИЕ</a></div>
    </div>
    <div class="flex">
        <div class="settings"><a href="/settings">НАСТРОЙКИ</a></div>
        <div class="liaders"><a href="/liaders">ЛИДЕРЫ</a></div>
    </div>
</div>
{{> footer}}