{{> header}}
<div class="content__wrap">
    <div class="win-message__wrap">
        <h4 class="win-message__title">{{h4}}</h4>
    </div>
    <div class="message__wrap">
        <p class="message__result-text">{{message}}</p>
        <div class="buttons__wrap">
            <a href="/" class="buttons__element btn__again">ะะบ</a>
        </div>
    </div>
</div>
{{> footer}}
